@import "../../../utils/variables";

.postcard {
  background-color: map-get($colors, first);
  border: 5px solid map-get($colors, third);
  margin: 10px;
  padding: 20px;

  .row {
    margin-bottom: 5px;
  }

  .postcardRight {
    text-align: center;

    button {
      background-color: map-get($colors, fourth);
      color: map-get($colors, third);
    }
  }
}
