@import "../../../utils/variables";

.tCard {
  color: white;
  border: 5px solid map-get($colors, third);
  background-color: map-get($colors, first);
  padding: 20px;
  margin-bottom: 5px;

  .titleClick:hover {
    cursor: pointer;
    color: #003366;
    text-decoration: underline;
  }
}
