@import "../../../utils/variables";

#createProjectBtn {
  background-color: map-get($colors, third);
  border: 5px solid map-get($colors, fourth);

  .card-title {
    font-family: "Righteous", cursive;
    color: map-get($colors, fourth);
    text-align: center;
  }
}
