@import "../../../utils/variables";

.pCard {
  color: white;
  border: 5px solid map-get($colors, third);
  background-color: map-get($colors, first);
  padding: 20px;
  margin-bottom: 5px;
  .btn{
    margin-left: 5px;
  }
  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: .6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

label{
  color: white;
}

.editorContainer {
  color: black;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 0px 16px 16px 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  background: #fefefe;
  .toolbar{
    background-color: map-get($colors,third);
    box-shadow: 0px 0px 25px -5px;
    padding: 5px;
  }
}
