@import "../../../utils/variables";

.card {
  word-wrap: break-word;

  .projectCard {
    border: 5px solid map-get($colors, third);
    background-color: map-get($colors, second);

    p {
      margin: 1rem 0 1rem 0;
      color: map-get($colors, third);
    }
  }
}
.card:hover {
  transform: scale(1.03);
  cursor: pointer;
}
