@import "../../../utils/variables";

.privateComments {
  margin-bottom: 40px;

  .btn {
    position: relative;
    bottom: 46px;
    right: 8%;
  }

  textarea {
    width: 70%;
    background-color: white;
    border: 2px solid black;
  }
}
